<app-header></app-header>
<div class="conteudo">
    <div class="arquiteto">
        <span> Cadastro de Arquiteto</span>

        <label>Nome</label>
        <input [(ngModel)]="arquiteto.nome" matInput name="nome" type="text">

        <label>CPF</label>
        <input [(ngModel)]="arquiteto.cpf" matInput name="cpf" type="text">
        

        <label class="crm" for="">CAU</label>
        <input class="crm" [(ngModel)]="arquiteto.cau" matInput name="cau" type="text">

        <label class="cpf" for="">Telefone</label>
        <input class="cpf" [(ngModel)]="arquiteto.telefone" matInput name="telefone" type="text">


        <label>Endereço</label>
        <input [(ngModel)]="arquiteto.endereco" matInput name="endereco" type="text">

    
        <label>Email</label>
        <input [(ngModel)]="arquiteto.email" matInput name="email" type="text">

        <div class="botao">

            <button (click)="salvar()">Salvar</button>
            <button (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>