/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.conteudo {
    max-width: 100%;
    margin: auto;
    min-height: calc(100vh - 160px);
}
table{
    font-size: 14pt;
    margin: 0 auto;
}
thead td{
    font-weight: 900;
    text-align: center;

}
tr td{
    text-align: center;
    font-weight: 300;
    padding: 5px;
}
img{
    width: 30px;
}

button {
    min-width: 40px;
    padding: 10px;
    margin: 15px auto;
    padding: 7px;
    border: none;
    font-size: 12pt;
    border-radius: 4px;
    background-color: rgb(31, 62, 236);
    color: #fff;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
@media(max-width: 650px){
    .conteudo{
        margin: 50px;    
    }

}

