<div class = 'nav'>
    <p>
        <img src = "../../../assets/icons/cliente.png" alt = ""/>
        <a routerLink = "/cliente-read">Cliente </a>
    </p>
    <p>
        <img src = "../../../assets//icons/projeto.webp" alt = ""/>
        <a routerLink = "/projeto">Projeto</a>
    </p>
    <p><img src = "../../../assets//icons/fornecedor.png" alt = ""/>
        <a routerLink = "/fornecedor-read">Fornecedor</a>
    </p>
    <p><img src = "../../../assets/icons/arquiteto.png" alt = ""/>
        <a routerLink = "/arquiteto-read">Arquiteto</a>
    </p>
    <p><img src = "../../../assets/icons/engenheiro.jpg" alt = ""/>
        <a routerLink = "/engenheiro-read">Engenheiro</a>
    </p>

    <p><img src = "../../../assets/icons/construcao.png" alt = ""/>
        <a routerLink = "/construcao">Construção</a>
    </p>
</div>
