<div class="header">
    <div class = "logo">
        Trabalho Fausto
    </div>
    <div class = "menu">
        <img (click) = "toggle()"class = 'none' src="../../../assets/icons/menu.png" alt="">
        <p>
            <a routerLink = "/cliente-read">Cliente</a>
        </p>
        <p>
            <a routerLink = "/projeto">Projeto</a>
        </p>
        <p>
            <a routerLink = "/fornecedor-read">Fornecedor</a>
        </p>
        <p>
            <a routerLink = "/arquiteto-read">Arquiteto</a>
        </p>
        <p>
            <a routerLink = "/engenheiro-read">Engenheiro</a>
        </p>
        <p>
            <a routerLink = "/construcao">Construcao</a>
        </p>
    </div>
    <app-nav class = "{{prop}}"></app-nav>
</div>
